<div id="form-section">
	<label for="freet-item">Post a Freet!</label>
	<textarea class="u-full-width" id="freet-item"></textarea>
	<button class="btn" id="freet-post-button">Post</button>
	<div id="freets-list"></div>
</div>