<div id= "signup-section">
	<p id = "welcome" >Welcome to Fritter!</p>
	<p id = "explain">Fritter is an app that allows short and timely communication between users.
	You can post and delete messages and explore the public postings of other users.</p>
	<p id = "insist">Give it a shot, sign yourself up!</p>

	<!-- <label for="name-input" id="label">Username:</label> -->
		<div>
      		<input placeholder="What's your name?" id="name-input" type="text">
      		<span id="signup-username" class="warning-signup-username-1"></span>
      	</div>
      	<div>
      		<input value="" id="password-input" type="text">
      		<span id="signup-password" class="warning-signup-password-1">You entered an empty string in one or more of the fields above!</span>
      	</div>
      	<button class="btn" id="signup-button">Sign-up</button>

</div>